*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#sobre{
    font-family: 'Times New Roman', Times, serif;  
}

header{
    background-color: #fc549c;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    height: 100px;
}
.login{
    display: flex;
    align-items: CENTER;
    width: 100%;
    margin: 0 auto;

}
.login img{
    cursor: pointer;
    margin-left: 20px;
    height: 60px;
    border-radius: 120px;
}

.imagemlogo{
    margin: 0 auto;
    width: 170px;
}
.imagemlogo img{
    width: 100%;
}
ul{
    margin:40px auto;
    width: 32px;
    list-style-type: none;
    text-decoration: none;
}
.menuhamburguer{
    cursor: pointer;
    position: relative;
}

.menuhamburguer span{
    width: 100%;
    height: 2px;
    background-color: white;
    display: block;
    margin-bottom: 4px;
  
}


.menuhamburguer:hover .submenu{
    display: block;
    position: absolute;
    right: 50px;
    top: 0px;
}

.submenu{
    display: none;
    margin: 0;
}
.submenu li:hover .submenu{ 
    display: block;


}
.submenu li{

    width: 200px;
}
.submenu li a{
    font-size: 20px;
    padding: 5px;
    display: block;
    list-style: none;
    text-decoration: none;
    color: white;
    background-color: #fc549c;
    width: 150px;

}
.submenu li a:hover{
    background-color: white;
    color:  #fc549c;
}

form{
    position: absolute;
    top:6px;
    left: 10px;
    background-image: url('./arcoiris.jpg');
    background-size: cover;
    display: flex;
    align-items: center;

}


.formulario{
    position: relative; 
    display: none;
    width: 250px;
}
input{
    font-size: 15px;
    width: 200px;
    display: block;
    margin-bottom: 10px;
}
form div{
    margin-left: 10px;
}

div button{
    width: 150px;
    background-color: pink;
    margin-left: 15px;

}
.titulo{
    font-size: 22px;
    text-align:center ;
    color: white;
    margin-top: 20px;

}

.imagem{
    width: 90%;



}
.imagem img{
    width: 100%;
    height: 90%;    
}


.sobre p{
    font-size: 20px;

}
data{
    display: block;
    text-align: center  ;
    margin-bottom: 10px;
}
p a{
    color: rgb(230, 66, 93);
}
#botaologin{
    border: none;
    background-color: #fc549c;
    cursor: pointer;
}


@media (min-width:1201px){
    #container{
            margin-top: 40px; 
            display: grid;
            grid-template-columns: 60% 25%;
        }
    }

@media (max-width:1200px){
    #container{
            margin-top: 40px; 
            display: block;
            margin-left: 20px;
}
    }
