@use 'config/reset';
@mixin elementoForm($margin:16px){
    padding: 8px;
    display: block;
    width: 100%;
    margin-bottom:$margin;

}
body{
    background-color: white;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
   
}
header{
    background-color:yellow ;
    padding: 16px 0;
    text-align: center;
}

.form-container{
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    form{
        width: 100%;
        max-width: 480px;
        margin-top: 40px;
        input{
            @include elementoForm(80px);
            background-color: transparent;
            border: none;
            border-bottom: 1px solid black ;
        }
        button{
            @include elementoForm();
        }
    }
}

